<head>
     <meta charset="UTF-8">
</head>
<body BGCOLOR="#ffffe8" TEXT="#191970">

<form  METHOD="POST" ACTION="mailto:Soraya.Arias@inrialpes.fr?subject=Question FAQ"  ENCTYPE="text/plain">

<h2> Soumission d'une nouvelle question pour la FAQ
</h2>
<p>
<b>
Votre Email:</b>  <input type="text" name="email" size=30>

<p>
<b>Votre question pour la FAQ:</b><br>
<textarea name="newQuestFAQ" rows=10 cols=70></textarea><p>

<input type="submit" value="Soumettre la question">  

<input type="reset" value="Effacer et recommencer">

</form>

<a href="faq.html">Retour &agrave; la FAQ</a>
</body>
